body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #222831;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.unselectable {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.fluid-simulation {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.fluid-simulation canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

nav {
    position: relative;
    z-index: 1;
}

nav ul li {
    z-index: 1;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #a200ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.main_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure title is above canvas */
    color: #fff; /* Set title color */
    font-size: 80px; /* Set title font size */
    font-weight: bold;
    text-align: center;
}

.sub_title {
    position: absolute;
    top: calc(50% + 40px); /* Adjust based on main title font size */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure subtitle is above canvas */
    color: #c8c8c8; /* Set subtitle color */
    font-size: 30px; /* Set subtitle font size */
    font-weight: bold;
    text-align: center;

    /* Additional styles for mobile devices */
}

@media (max-width: 767px) {
    .main_title {
        font-size: 60px; /* Adjust main title font size for mobile */
    }
    .sub_title {
        font-size: 20px; /* Adjust subtitle font size for mobile */
        top: calc(50% + 80px); /* Adjust based on main title font size */
    }
}

.about-content {
    margin: 0;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem #000;
    color: white;
}

.scroller {
    max-width: 600px;
    margin: 0 auto; /* Add this line to center the scroller */
}
  
.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
  
.scroller[data-animated="true"] {
    border: 2px solid #a200ff;
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
  
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

.section__header {
    position: relative;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

.section__header::after {
    content: '';
    width: 0; /* Initially set width to 0 */
    height: 3px;
    background: #a200ff;
    position: absolute;
    left: 0; /* Start position from left */
    bottom: -6px;
    transition: width 0.5s ease; /* Use width property for transition */
}

.section__header.section__header--visible::after {
    width: 100%; /* When visible, increase width to 100% */
}

.section__paragraph {
    margin: 1rem 0;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s ease;
    color: #c6c6c6;
    font-size: 30px;
}

.section__paragraph--visible {
    transform: translateY(0);
    opacity: 1;
}

.projects-content {
    color: #ffffff;
    margin: 0 auto;
    padding: 10rem;
}

.experience_images {
    max-width: 80px;
    padding-top: 10px;
}

.experience_images--right {
    float: right;
}

.experience_images--sfu {
    max-width: 100px;
}

.timeline {
    margin: 0 auto;
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: #ffffff;
}

.timeline__component {
    margin: 0 20px 20px 20px;
}

.timeline__component--bg {
    padding: 1.5em;
    padding-bottom: 0.7em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.timeline__component--bottom {
    margin-bottom: 0;
}

.timeline__component--hidden {
    opacity: 0;
    transform: translateY(50px); /* Adjust as needed for the desired initial position */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline__component--visible {
    opacity: 1;
    transform: translateY(0);
}

.timeline__date--right {
    text-align: right;
}

.timeline__middle {
    position: relative;
    background: white;
}

.timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

.timeline__point--bottom {
    top: initial;
    bottom: 0;
}

.timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

/* Default padding for larger screens */
.about-content,
.projects-content {
    padding: 10rem;
}

/* Define padding for smaller screens using media queries */
@media screen and (max-width: 768px) {
    .about-content,
    .projects-content {
        padding: 3rem; /* Adjust padding for smaller screens */
    }
    nav ul li {
        margin: 5px 5px;
    }
}

@media screen and (max-width: 480px) {
    .about-content,
    .projects-content {
        padding: 1.5rem; /* Adjust padding for even smaller screens */
    }
    nav ul li {
        margin: 5px 5px;
    }
}